# TUPLE UNCHANGABLE, ORDERED, INDEXED

In [8]:
mytuple=("Arham",123)
print(mytuple)
print(mytuple[0])
print(type(mytuple))

('Arham', 123)
Arham
<class 'tuple'>
ab
ab ['cd'] ef

# UNPACKING TUPLE

In [ ]:
#Unpacking Tuple
mytuple2=("ab","cd","ef")
(green,yellow,red)=mytuple2
print(green)

#Using more than the input value
mytuple3=("ab","cd","ef","gh")
(green,*yellow,red)=mytuple2
print(green,yellow,red)

# mytuple4=("ab","cd","ef","gh","ij")
# (green,*yellow,red)=mytuple2;
# print(green,*yellow,red)

# ADD & REMOVE

In [12]:
#Add and remove tuple
tuple1=(1,2,3,4,5,6,7,7,2)
temp = list(tuple1)
print(temp)
temp.remove(7);
print(temp)
tuple1= tuple(temp)
print(tuple1)
print(type(tuple1))

[1, 2, 3, 4, 5, 6, 7, 7, 2]
[1, 2, 3, 4, 5, 6, 7, 2]
(1, 2, 3, 4, 5, 6, 7, 2)
<class 'tuple'>

# DELETE & APPEND

In [4]:
#Del and append in tuple
mytuple=("ab","cd","ef","gh","ij","kl")
temp=list(mytuple)
del temp[2]
temp.append("rs")
mytuple=tuple(temp)
print(mytuple)

('ab', 'cd', 'gh', 'ij', 'kl', 'rs')

In [ ]:
#Using multiple "*"
mytuple=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
(*green,yellow,red)=mytuple
print(green)
print(yellow)
print(red)

# IF USING TUPLE

In [22]:
#If & else condition
mytuple=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
if 6 in mytuple:
    print("exist")
else:
    print("Not exist")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18] 19 20
exist

# SET

In [10]:
#Set
s1={1,2,3,4}
s2={True,1,False,0}
s3={"Ali","male","student",59083}
print(s1,s2,s3)
s3.discard(59083)
print(s1,s2,s3)
s3.add(59083)
print(s1,s2,s3)

#Union
s4={1,4,6,8}
s5={1,9}
s4=s4.union(s5)
print(s4)

s4=s4|s5
print(s4)

#Intersection
s4={1,4,6,8}
s5={1,4,9}
s4=s4.intersection(s5)
print(s4)

#Integer To tuple
t1=(2)
print(type(t1))
t1=(2,)
print(type(t1))

#difference
s4={1,4,6,8}
s5={1,4,9}
s4=s4.difference(s5)
print(s4)

#Symmetric Difference
s4={1,4,6,8}
s5={1,4,9}
s4=s4.symmetric_difference(s5)
print(s4)

{1, 2, 3, 4} {False, True} {'student', 59083, 'Ali', 'male'}
{1, 2, 3, 4} {False, True} {'student', 'Ali', 'male'}
{1, 2, 3, 4} {False, True} {'student', 59083, 'Ali', 'male'}
{1, 4, 6, 8, 9}
{1, 4, 6, 8, 9}
{1, 4}
<class 'int'>
<class 'tuple'>
{8, 6}
{6, 8, 9}